*{
    /* parent */
    margin: 20;
    padding: 30;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
.header{
    background-color: white;
    color: #ffff;
    padding: 10px 0 ;
    text-align: center;

}
.header h1{
    margin: 10px;
    color: aqua;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav ul li{
    margin: 15px;
    /* color: darkblue; */
}
nav ul li a{
    color: chocolate;
    text-decoration: none;
    
}
nav ul li a:hover{
    text-decoration: underline;
}

.main-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.left-frame, .right-frame, .center-frame{
    width: 30%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
/* .left-frame{
    h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        color: darkmagenta;
    }
    ul li {
        /* display: flex; */
        /* list-style: symbols(12);
    }

} */
.left-frame ul{
    list-style: none;
}
.left-frame li{
    margin: 10px 0;
}
.right-frame{
    background-color: burlywood;
}
footer{
    text-align: center;
    padding: 05px;
    background: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* style for catalouge page */
.catalouge-table{
    width: 100%;
    border-collapse: collapse;
}
.catalouge-table th, .catalouge-table td{
    padding: 10px;
    border: 1px solid black;
    text-align: left;
    background: #f4f4f4;
}
.catalouge-table tr:nth-child(even){
    background: #f9f9f9;
}
.image{
    width: 100px;
    height: 100px;
}
/* login page
 Bordered form 
form {
  border: 3px solid #f1f1f1;
}

 Full-width inputs 
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

 Set a style for all buttons 
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

 Add a hover effect for buttons 
button:hover {
  opacity: 0.8;
}

 Extra style for the cancel button (red) 
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

 Center the avatar image inside this container 
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

 Avatar image 
img.avatar {
  width: 40%;
  border-radius: 50%;
}

 Add padding to containers 
.container {
  padding: 16px;
}

 The "Forgot password" text 
span.psw {
  float: right;
  padding-top: 16px;
}

 Change styles for span and cancel button on extra small screens 
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} */
/* Style for login page */
.pre_heading{
  text-align: center;
}
.form_container{
  text-align: center;
  
  
}
.image_container{
  border-radius: 50%;
}
button{
  background-color: rgb(92, 200, 225);
  height: 40px;
  width: 10rem;
  color: white;
  font-size: 15px;
}
button:hover{
  opacity: 0.7;
}
.form{
  background-color: white;
  
}
.form_container label{
  font-size: 20px;
}
.form_container input{
  height: 25px;
}

/* registration page */
.signup{
  text-align: center;
  background-color: white;
}
.signup label{
  font-size: 25px;
  margin: 15px;
  padding-right: 20px;
  
}

.signup input{
  font-size: 20px;
}